*{
    margin: 0;
}
nav {
    display: flex;
    max-width: 1000px;
    list-style-type: none;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header{
    display: flex;
    background:linear-gradient(0.2turn, #000080,#191970,#003153, #2e294e);;
    margin: 0px;
    padding: 10px;
    justify-content : space-between;
}
header h1:hover{
    color: aquamarine;
}
/* .a{
    color: ghostwhite;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
} */

nav {
    display: flex;
    gap: 20px;
    justify-content: space-between;

}

.h1{
    margin-left: 0px;
    color:white;
    padding: auto;
}

.nav-items {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-items a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

label{
    margin: 10px;
}

.sub-title{
    color: honeydew;
    padding: 20px;
}

input{
    display: flex;

}
button{
    margin: 10px;
}

